<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="sap2exact.Bestmix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="sap2exact.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="access2exact.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="sap2exact.Bestmix.Properties.Settings.connection_string_sap"
      connectionString="DATA SOURCE=dmc08;INITIAL CATALOG=prd;USER ID=SAPPRD;PASSWORD=SAP" />
    <add name="sap2exact.Bestmix.Properties.Settings.connection_string_exact"
      connectionString="Data Source=DB01\EXACT2003;Initial Catalog=104;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <applicationSettings>
    <sap2exact.Bestmix.Properties.Settings>
      <setting name="sdk_sap_server" serializeAs="String">
        <value>dmc08</value>
      </setting>
      <setting name="sdk_sap_instance" serializeAs="String">
        <value>08</value>
      </setting>
      <setting name="sdk_sap_user" serializeAs="String">
        <value>steensma</value>
      </setting>
      <setting name="sdk_sap_password" serializeAs="String">
        <value>steensma</value>
      </setting>
    </sap2exact.Bestmix.Properties.Settings>
  </applicationSettings>
</configuration>