<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="access2exact.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="access2exact.Properties.Settings.connection_string_access"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\exact importeren artikelen\source\access\conversie.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="access2exact.Properties.Settings.connection_string_sap"
            connectionString="DATA SOURCE=dmc04;INITIAL CATALOG=dev;USER ID=SAPDEV;PASSWORD=SAP" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <access2exact.Properties.Settings>
            <setting name="export_xml" serializeAs="String">
                <value>C:\exact importeren artikelen\test\access2exact.xml</value>
            </setting>
        </access2exact.Properties.Settings>
    </applicationSettings>
</configuration>