<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />

      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sap2exact.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="access2exact.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.JetDriver.JetDialect, NHibernate.JetDriver</property>
      <property name="connection.driver_class">NHibernate.JetDriver.JetDriver, NHibernate.JetDriver</property>
      <property name="connection.connection_string">Provider=Microsoft.ACE.OLEDB.12.0;Data Source=data.accdb</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <property name="show_sql">true</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
    </session-factory>
  </hibernate-configuration>
  
  <connectionStrings>
    <add name="access2exact.Properties.Settings.connection_string_access"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\exact importeren artikelen\source\access\conversie.accdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="access2exact.Properties.Settings.connection_string_sap"
      connectionString="DATA SOURCE=dmc08;INITIAL CATALOG=prd;USER ID=SAPPRD;PASSWORD=SAP" />
    <add name="sap2exact.Properties.Settings.connection_string_access"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\exact importeren artikelen\source\access\conversie.accdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="sap2exact.Properties.Settings.connection_string_sap"
      connectionString="DATA SOURCE=dmc08;INITIAL CATALOG=prd;USER ID=SAPPRD;PASSWORD=SAP" />
    <add name="sap2exact.Properties.Settings.connection_string_artikelgroepconversie"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\exact importeren artikelen\source\sap2exact\sap2exact\conversie.xlsx;Extended Properties=&quot;Excel 12.0;HDR=Yes;IMEX=1&quot;"
      providerName="System.Data.OleDb" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <sap2exact.Properties.Settings>
            <setting name="export_xml" serializeAs="String">
                <value>C:\exact importeren artikelen\export\access2exact.xml</value>
            </setting>
            <setting name="sdk_sap_server" serializeAs="String">
                <value>dmc08</value>
            </setting>
            <setting name="sdk_sap_instance" serializeAs="String">
                <value>08</value>
            </setting>
            <setting name="sdk_sap_user" serializeAs="String">
                <value>steensma</value>
            </setting>
            <setting name="sdk_sap_password" serializeAs="String">
                <value>steensma</value>
            </setting>
        </sap2exact.Properties.Settings>
        <access2exact.Properties.Settings>
            <setting name="export_xml" serializeAs="String">
                <value>C:\exact importeren artikelen\export\access2exact.xml</value>
            </setting>
        </access2exact.Properties.Settings>
    </applicationSettings>
</configuration>